Host customize_name
    HostName ip_address
    User     ip_user
    Port     22

Host jumpserver
    HostName jumpserver_ip
    Port 22
    User jumpserver_user

Host targetserver
    # 可忽略
    ForwardAgent yes
    HostName 127.0.0.1
    Port targetserver_port
    User targetserver_user
    # windows上需要使用绝对路径
    ProxyCommand C:\\Windows\\System32\\OpenSSH\\ssh.exe -W %h:%p jumpserver 
